@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

.container-fluid {
    background-color: rgba(192, 202, 202, 0.39);
    width: 100%;
    height: 650px;
    position: relative;
}

.right-aligned {
    height: 500px;
}
.image1{
    top: 10%;
    left: 65%;
    position: absolute;
}
.dis{
    top: 50%;
    left: 5%;
    position: absolute;
    color: black;
}

#social{
    margin-top: 150px;
}

.social-icons {
    display: flex;
    gap: 30px;
}

.social-icons a {
    font-size: 17px;
    color: black;
}

#box{
    position: relative;
    /* border-radius: 1rem; */
    /* overflow: hidden; */
}

#product{
    position: absolute;
}

#product img{
    width: 400px;
    height: 250px;
    filter: grayscale(100);
    border-radius: 1rem;
    transition: all 0.2s ease-in;   
}
#box:hover #product img{
    filter: grayscale(0);
    transform: scale(1);
}

.col-md-5 a{
    color: black;
    text-decoration: none;
}

.col-md-5 a .btn{
    color: white;
}
.contact{
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
}
.contact h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.contact p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 2rem;
}
.contact .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6c58c5; 
    color: #fff; 
    border: none;
    border-radius: 5px; 
    text-decoration: none; 
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact .btn:hover {
    background-color:  #3c1ec4;
    color: #ecebec;
}
footer {
    text-align: center;
    background: #6c58c5;
    color: white;
    padding: 10px 0;
}

.card-custom {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}
.card-custom:hover {
    /* transform: translateY(-10px); */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
.card-custom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease;
}
.card-custom:hover img {
    transform: scale(1.05);
}
.card-body-custom {
    padding: 15px;
    background-color: #fff;
}
.card-title-custom {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.card-text-custom {
    font-size: 1rem;
    color: #555;
}



@media screen and (max-width: 1430px){
    .image1 {
        left: 75%;
        transform: translateX(-50%);
    }
    .dis {
        top: 20%;
        width: 50%;
    }
}



@media screen and (max-width: 990px) and (min-width: 460px) {
    .image1 {
        left: 75%;
        transform: translateX(-50%);
    }
    .dis {
        top: 20%;
        width: 50%;
    }
}

@media screen and (max-width: 830px) and (min-width: 720px) {
    .image1 {
        left: 75%;
        transform: translateX(-50%);
    }
    .dis {
        top: 20%;
        width: 50%;
    }
    #social{
        margin-top: 130px;
    }
}


@media screen and (max-width: 720px) and (min-width: 460px) {
    .image1 {
        left: 75%;
        transform: translateX(-50%);
    }
    .dis {
        top: 20%;
        width: 50%;
    }
    #social{
        margin-top: 100px;
    }
}


@media screen and (max-width: 700px){    
    .image1 {
        display: none;
    }

    .container-fluid {
        background-image: url('../img/myshape.png');
        background-size: 55% 50%;
        background-repeat: no-repeat;
        background-position: right;
        height: 650px;
    }
    .dis {
        top: 20%;
        width: 50%;
    }
    #social{
        margin-top: 50px;
    }
}
    
@media screen and (max-width: 450px){    
    .image1 {
        display: none;
    }
    .container-fluid {
        background-image: url('../img/myshape.png');
        background-size: 60% 50%;
        background-repeat: no-repeat;
        background-position: right;
        height: 690px;
    }
    .dis {
        top: 5%;
        width: 50%;
    }
    #social{
        margin-top: 20px;
    }
}